doctype html
head
  meta(charset='utf-8')
  title
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')
  // Place favicon.ico in the root directory
  link(rel='stylesheet' href='css/normalize.css')
  link(rel='stylesheet' href='css/main.css')
  meta(name='theme-color' content='#fafafa')
- function string_to_slug (str) { str = str.replace(/^\s+|\s+$/g, ''); str = str.toLowerCase(); var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;"; var to   = "aaaaeeeeiiiioooouuuunc------"; for (var i=0, l=from.length ; i<l ; i++) { str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i)); } str = str.replace(/[^a-z0-9 -]/g, '').replace(/\s+/g, '-').replace(/-+/g, '-'); return str; }
- function progress_for_manufacturer (m) { return Object.keys(m.progress).reduce((p, key) => p + m.progress[key], 0)/(Object.keys(m.progress).length) * 100}
- function progress_for_category (c) { return c.manufacturers.reduce((p, m) => p + progress_for_manufacturer(m), 0)/c.manufacturers.length }
#vaccine-tracker.vaccine-tracker
  aside(data-component="drawer_navigation")
    button#expander.expander
    header
      h1.default All vaccines (average)
      a.back(href="#") &laquo; Back
      progress.default(max='100' value='10')
    ul
      each category in categories
        li
          a(href='#')
            img(src='')
            span= category.name
            progress(max='100' value=`${progress_for_category(category)}`)
            ul
              each manufacturer in category.manufacturers
                li
                  a(href=`#${string_to_slug(manufacturer.name)}`)
                    span= manufacturer.name
                    progress(max='100' value=`${progress_for_manufacturer(manufacturer)}`)
  .report(id="all_vaccines" data-component="report")
    .body
      h1 All Vaccines
      ul(data-component="quick_stats")
        li
          span.count 15
          span.label Pre-Clinical Trials
        li
          span.count 10
          span.label Phase 1
        li
          span.count 12
          span.label Phase 2
        li
          span.count 4
          span.label Phase 3
        li
          span.count 0
          span.label Registration
        li
          span.count 0
          span.label Distribution

  each manufacturer in categories.map(category => category.manufacturers).flat()
    - slug = string_to_slug(manufacturer.name);
    .report(id=slug data-component="report")
      .body
        h1= manufacturer.name
        h2= manufacturer.short_description
        p= manufacturer.long_description

  progress#fixed_progress_bar(max='100' value='10')
  div(data-component="report_navigator")
    button.previous
    button.next
script(src='js/vendor/mozart.min.js')
script(src='js/main.js')

script(src='js/components/report_navigator/report_navigator_acts.js')
script(src='js/components/report_navigator/report_navigator_events.js')
script(src='js/init.js')
