doctype html
head
  meta(charset='utf-8')
  title
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')
  // Place favicon.ico in the root directory
  link(rel='stylesheet' href='css/normalize.css')
  link(rel='stylesheet' href='css/main.css')
  meta(name='theme-color' content='#fafafa')
#vaccine-tracker.vaccine-tracker
  aside.drawer-navigation
    h1 All vaccines (average)
    progress(max='100' value='10')
    ul
      each category in categories
        li
          a(href='#')
            img(src='')
            span= category.name
            progress(max='100' value='10')
            ul
              each manufacturer in category.manufacturers
                li
                  a(href='#sanofi')
                    span= manufacturer.name
                    progress(max='100' value='10')

  each manufacturer in categories.map(category => category.manufacturers).flat()
    #sanofi.report
      .body
        h1= manufacturer.name
        h2= manufacturer.short_description
        p= manufacturer.long_description

  progress(max='100' value='10')
  button#nav_previous.previous
  button#nav_next.next
  button#expander.expander
script(src='js/main.js')
